body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(270deg, #7a1fa2, #e91e63);
    background-size: 400% 400%;
    animation: gradient 60s ease infinite;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: #ffffff22; /* Light white with transparency for a softer look */
    border-radius: 15px;
    padding: 20px;
    width: 90%;
}

#popupContainer h2 {
    color: white;
    font-size: 3em;
    font-weight: bold;
    margin: 0.5em 0;
}

.button-green, .button-red {
    background-color: #22c1c3; /* Teal for a fresh, modern look */
    color: white;
    padding: 20px 40px;
    margin: 10px 5px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.2s;
    font-size: 2em;
    font-weight: bold;
    width: auto;
}

.button-red {
    background-color: #fd746c; /* Coral red for contrast */
}

.button-green:hover, .button-red:hover {
    transform: scale(1.05); /* Slightly enlarging buttons on hover */
    opacity: 0.9;
}

#responseContainer {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#memeImage {
    max-width: 90%;
    margin-top: 20px;
}

#responseText, #instagramLink {
    font-size: 2em;
    font-weight: bold;
    color: white;
    margin: 20px 0;
}

#instagramLink a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}


