body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(270deg, #f06, #48f);
    background-size: 400% 400%;
    animation: gradient 60s ease infinite; /* Slower and more subtle background animation */
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.popup {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #ffffffaa; /* Light white with transparency */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    width: 90%;
    box-shadow: none; /* Removing the box-shadow for a flatter look */
}

#popupContainer h2 {
    color: black;
    font-size: 2.5em; /* Increased font size */
    font-weight: bold;
}

.button-green, .button-red {
    background-color: #008CBA; /* A more modern button color */
    color: white;
    padding: 15px 30px;
    margin: 10px;
    border: none; /* No border */
    border-radius: 25px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.5em; /* Larger text */
    font-weight: bold;
    width: 80%;
    margin: 10px auto;
}

.button-red {
    background-color: #f44336; /* A more modern red color */
}

.button-green:hover, .button-red:hover {
    opacity: 0.8; /* Subtle hover effect */
}

#responseContainer {
    padding: 20px;
    text-align: center;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#memeImage {
    max-width: 90%;
    margin-top: 20px;
}

#responseText, #instagramLink {
    font-size: 2em; /* Larger text for better readability */
    font-weight: bold;
    color: black;
    margin: 20px 0;
}

#instagramLink a {
    color: black;
    text-decoration: none;
}



}

